@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.wrapper {
    margin: 2rem 1rem; 
    padding: 20px;
    background-color:hsl(216, 50%, 16%);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
}

.img-top {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.img-top img {
    width: 100%;
    display: block;
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(178, 100%, 50%, 0.5);
    display: none;
}

.img-overlay img {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-top:hover .img-overlay {
    display: block;
    cursor: pointer;
}

.box-test a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    padding: 20px 0;
    display: inline-block;
}

.box-test a:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

p {
    color: hsl(215, 51%, 70%);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.eth .days {
    display: flex;
    align-items: center;
}

.eth p {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    padding-left: 7px;
}

.days p {
    padding-left: 7px;
}

hr {
    border-color: hsl(215, 32%, 27%);
}

.author {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.author img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #fff; 
    margin-right: 15px;
}

.author a {
    color: #fff;
    font-size: 16px;
}

.author a:hover {
    color: hsl(178, 100%, 50%);
}
